{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card-header bg-primary text-white">
            <h3 class="mt-4">Thank you for your <i>Unauthentic Italian Pizza</i> order</h3>
            </div>
            {% for order in orders %}
                <p class="mt-3">Order ID: {{ order.id }}</p>
            {% endfor %}
            <a href="{% url 'create_pizza' %}" class="btn btn-primary mt-4">Order another Pizza</a>
        </div>
    </div>
</div>
{% endblock %}
