{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3 class="mt-4">Hi {{ user.email }}</h2>
    <div class="row">
        <div class="col-md-8 offset-md-2 bg-dark rounded shadow">
            <div class="card-header bg-primary text-white rounded mt-2 mb-2">
            <h2 class="mt-2 mb-2 text-center">Your Orders 📝</h2>
            </div>
            {% if orders %}
                <ul class="list-group mt-2 bg-dark">
                    {% for order in orders %}
                        <li class="list-group-item bg-dark text-white border mt-4 rounded shadow">Order #: {{ order.id }} - Date ordered: {{ order.order_date }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-info mt-4" role="alert">
                    <h4 class="alert-heading"> Oops, Looks like you haven't ordered any Pizzas</h4>
                    <p>Click below to order a pizza now!</p>
                </div>
            {% endif %}
            <a href="{% url 'create_pizza' %}" class="btn btn-primary mt-4 mb-4 rounded shadow">Order a Pizza</a>
        </div>
    </div>
</div>
{% endblock %}
